body{
    background-color: black;
    color: antiquewhite;
}

table {
    border-collapse: collapse;
    width: 20%;
}

th, td {
    border: 4px solid white;
    padding: 12px 25px;
    text-align: left;
}